<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="education.kh.edu.mapper.NoticeMapper">

    <select id="getNoticeList" resultType="education.kh.edu.domain.NoticeDto">
       SELECT NUM,USER_ID, TITLE, CONTEXT, CRE_DATE, VIEW_CNT, DEL_YN, DEL_DATE, UPD_DATE, FILE, FILE_CRA_DATE
         FROM EDU.EDU_NOTICE
        WHERE DEL_YN = 'N'
        ORDER BY CRE_DATE DESC, NUM DESC
    </select>

    <insert id ="boardWrite" parameterType="education.kh.edu.domain.NoticeDto">
        INSERT INTO EDU.EDU_NOTICE(TITLE, CONTEXT, DEL_YN, VIEW_CNT, CRE_DATE)
        VALUES ('#{title}', '#{context}' ,'N', '0', NOW())
    </insert>

    <update id = 'boardViewCnt' parameterType="education.kh.edu.domain.NoticeDto">
        UPDATE EDU.EDU_NOTICE
           SET VIEW_CNT = VIEW_CNT + 1
         WHERE NUM = ${num}
    </update>

    <select id="boardWriteDetail" resultType="education.kh.edu.domain.NoticeDto">
        SELECT NUM,USER_ID, TITLE, CONTEXT, CRE_DATE, VIEW_CNT, DEL_YN, DEL_DATE, UPD_DATE, FILE, FILE_CRA_DATE
        FROM EDU.EDU_NOTICE
        WHERE DEL_YN = 'N'
          AND NUM = ${num}
    </select>

    <select id="answerDetail" resultType="education.kh.edu.domain.NoticeDto">
        SELECT *
          FROM EDU.EDU_ANSWER
         WHERE DEL_YN = 'N'
           AND NUM_NOTICE = ${num}
    </select>

    <insert id="answerWrite" parameterType="education.kh.edu.domain.NoticeDto">
        INSERT INTO EDU.EDU_ANSWER (NUM_NOTICE, USER_ID, CONTEXT, CRE_DATE , DEL_YN, DEL_DATE, UPD_DATE)
        VALUES (${num}, '${user_id}', '${context}', NOW(), 'N', NULL, NULL)
    </insert>
</mapper>