<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="education.kh.edu.mapper.UserMapper">

    <insert id="UserRegisterInsert" parameterType="education.kh.edu.domain.UserDto">
        INSERT INTO edu.member_tb(
                    MEMBER_LOGIN_ID,
                    MEMBER_ROLE,
                    MEMBER_NAME,
                    MEMBER_PASSWORD,
                    MEMBER_EMAIL,
                    IS_USED,
                    IS_DEL,
                    ISRT_DATE,
                    UPDT_DATE,
                    MEMBER_ADDRESS_CODE,
                    MEMBER_ADDRESS,
                    MEMBER_ADDRESS_DETAIL,
                    MEMBER_ADDRESS_DETAIL_VAL)
            VALUES (#{MEMBER_LOGIN_ID},
                    'ROLE_MEMBER',
                    #{MEMBER_NAME},
                    #{MEMBER_PASSWORD},
                    #{MEMBER_EMAIL},
                    'Y',
                    'N',
                    now(),
                    NULL,
                    #{MEMBER_ADDRESS_CODE},
                    #{MEMBER_ADDRESS},
                    #{MEMBER_ADDRESS_DETAIL},
                    #{MEMBER_ADDRESS_DETAIL_VAL})
    </insert>

    <select id="UserRegisterIdDuplication" resultType="String">
        SELECT count(*)
          FROM edu.member_tb
         WHERE member_login_id = #{id}
    </select>

    <update id="UserRegisterUpdate" parameterType="education.kh.edu.domain.UserDto">
        UPDATE edu.member_tb
           SET member_name = #{MEMBER_NAME},
               member_password = #{MEMBER_PASSWORD},
               member_email = #{MEMBER_EMAIL},
               updt_date = now()
         WHERE member_login_id = #{MEMBER_LOGIN_ID}
    </update>

    <update id="UserDelete" parameterType="education.kh.edu.domain.UserDto">
        UPDATE edu.member_tb
           SET IS_DEL = 'Y',
               UPDT_DATE = now()
         WHERE MEMBER_LOGIN_ID = #{userID}
    </update>

</mapper>