<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Design</title>
</head>

<body>
<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h3>About Us</h3>
            <p>It you'd be loved, be worthy to be loved. </p>
            <div class="contact">
                <span><i class="fas fa-phone"></i> 010-0000-0000</span>
                <span><i class="fas fa-envelope"></i> Kim@.com</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-section links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/main">Home</a></li>
                <li><a href="/board/notice">Notice</a></li>
                <li><a href="/information/location">Calendar</a></li>
                <li><a href="/information/play">Play</a></li>
            </ul>
        </div>
        <div class="footer-section contact-form">
            <h3>Contact Us</h3>
            <form action="#">
                <input type="email" name="email" class="text-input contact-input" placeholder="Your email address">
                <textarea name="message" class="text-input contact-input" placeholder="Your message"></textarea>
                <button type="submit" class="btn-footer btn-big contact-btn">
                    <i class="fas fa-envelope"></i>
                    Send
                </button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 jasung Company | Designed by K.H.
    </div>
</footer>
</body>
</html>