<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/include/header.js"></script>
</head>
<body>

<div class="banner">
    <a href="/main" class ="banner1">
        <img src="/img/home.png" alt="로고" class = "logo">
    </a>
    <ul class="banner2">
        <li><a href="/main">메인</a>
            <ul class="submenu_1">
                <li><a href="/main">메인</a></li>
                <li><a href="/board/notice">자유게시판</a></li>
            </ul>
        </li>
        <li><a href="/information/location">정보</a>
            <ul class="submenu_2">
                <li><a href="/information/location">위치</a></li>
                <li><a href="/information/play">축제</a></li>
                <li><a href="">미등록</a></li>
            </ul>
        </li>
        <li><a href="">미등록</a>
            <ul class="submenu_3">
                <li><a href="">미등록</a></li>
                <li><a href="">미등록</a></li>
                <li><a href="">미등록</a></li>
            </ul>
        </li>
    </ul>
    <ul class = "banner3">
        <li th:if="${member.name != ''}">
            <p class="member-text" th:text="${member.name + '님 안녕하세요'}"></p>
        </li>
        <li th:if="${member.name == ''}">
            <a class="login-text" href="/login/login">로그인</a>
        </li>
        <li th:if="${member.name != ''}">
            <a class="login-text" href="/login/logout">로그아웃</a>
        </li>
        <li>|</li>
        <li th:if="${member.name == ''}">
            <a href="/login/register"> 회원가입</a>
        </li>
        <li th:if="${member.name != ''}">
            <a class="login-text" href="/login/mypage">마이페이지</a>
        </li>
        <li>
            <a href="#" class="menuButton">메뉴</a>
        </li>
    </ul>
</div>
</body>

</html>