<div class="banner">
    <a href="/main" class ="banner1">
        <img src="/img/home.png" alt="로고" class = "logo">
    </a>
    <ul class="banner2">
        <li><a href="main">메인</a>
            <ul class="submenu_1">
                <li><a href="/main">메인</a></li>
                <li><a href="/board/notice">자유게시판</a></li>
            </ul>
        </li>
        <li><a href="">미등록</a>
            <ul class="submenu_2">
                <li><a href="">미등록</a></li>
                <li><a href="">미등록</a></li>
                <li><a href="">미등록</a></li>
            </ul>
        </li>
        <li><a href="">미등록</a>
            <ul class="submenu_3">
                <li><a href="">미등록</a></li>
                <li><a href="">미등록</a></li>
                <li><a href="">미등록</a></li>
            </ul>
        </li>
    </ul>
    <ul class = "banner3">
        <li th:if="${member.name != ''}">
            <p class="member-text" th:text="${member.name + '님 안녕하세요'}"></p>
        </li>
        <li th:if="${member.name == ''}">
            <a class="login-text" href="/login/login">로그인</a>
        </li>
        <li th:if="${member.name != ''}">
            <a class="login-text" href="/login/logout">로그아웃</a>
        </li>
        <li>|</li>
        <li th:if="${member.name == ''}">
            <a href="/login/register"> 회원가입</a>
        </li>
        <li th:if="${member.name != ''}">
            <a class="login-text" href="/login/mypage">마이페이지</a>
        </li>
        <li>메뉴</li>
    </ul>
</div>