@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("nomalize.css");
@import url("footer.css");

:root {
    --container_width: 1080px;
}

html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-track {
    background: black;
}
html::-webkit-scrollbar-thumb {
    background: gray;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.container::-webkit-scrollbar {
    width: 15px;
}
.container::-webkit-scrollbar-track {
    background: gray;
}
.container::-webkit-scrollbar-thumb {
    background: paleturquoise;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 8px;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

header {
    background-color: white;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    padding: 29px 10%;
    z-index: 1000;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    width : 22px;
}

.container {
    padding-top: 10%;
}

.banner>ul>li>ul {
    display: none;
    position: absolute;
    padding-top: 40px;
    height: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease, height 0.5s ease;
    white-space: nowrap;
}

.banner>ul>li:hover>ul {
    display: flex;
    flex-direction: column;
    opacity: 1;
    height: auto;
}

.banner>ul>li>ul>li {
    opacity: 0;
    transition: opacity 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.submenu_1 {
    left : -20px;
}

.submenu_2 {
    left : -5px
}

/*
.submenu_3 {
    left : -20px;
}
*/

.banner2>li:hover>ul>li {
    opacity: 1;
    transition-delay: 0.2s;
}

.banner>ul>li>a {
    position: relative;
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;
}

.banner>ul>li:hover>a {
    color: blue;
}

.banner2>li>a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: blue;
    bottom: -27px;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
}

.banner2>li:hover>a::after {
    width: 180%;
    left: -30%;
}

.banner2 li ul li a:hover {
    color: blue;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner2 {
    display: flex;
    gap: 100px;
    font-weight: 600;
}

.banner2>li {
    position: relative;
}

.banner2>li>ul>li {
    margin-top: 20px;
}

.banner3 {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 12px;
}