/* post.css */
.post-container {
    max-width: 800px;
    margin: 120px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.post-header {
    margin-bottom: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.post-content {
    margin-bottom: 20px;
}

.post-text {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.post-file {
    margin-top: 10px;
}

.file-link {
    font-size: 14px;
    color: blue;
    text-decoration: underline;
}

.post-comments {
    margin-top: 20px;
}

.comments-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.comment-content {
    margin-bottom: 10px;
}

.comment-text {
    font-size: 16px;
    color: #333;
}

.comment-meta {
    font-size: 14px;
    color: #666;
}

.comment-author {
    margin-right: 10px;
}

.comment-date {
    color: #999;
}

.comment-con {
    padding-left: 30%;
}

.commont-author-list{
    margin-right: 10px;
}

.comment-date-list{
    color: #999;
}

.comment-con-list{
    padding-left: 30%;
}

.post-container {
    max-width: 800px;
    margin: 140px auto;
    padding: 20px;
}

.post-header {
    margin-bottom: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-content {
    margin-bottom: 20px;
}

.post-file {
    margin-top: 10px;
}

.comments-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.comment-content {
    margin-bottom: 10px;
}

.comment-meta {
    font-size: 12px;
    display: flex;
}

.comment-meta-List {
    font-size: 12px;
    display: flex;
}

.comment-meta div {
    margin-right: 10px;
}

.comment-form {
    margin-top: 20px;
}

.comment-form .form-group {
    margin-bottom: 10px;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.list-back {
    padding-left : 10px;
}