form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
#performances {
    border-top: 2px solid #ccc;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

#performances-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}

#performance img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.play_list {
    width: 100%;
    max-width: 240px;
}

.play_list p{
    text-align: center;
    margin-top: 5px;
}

.play_list > img {
    width: 240px;
    height: 300px;
    margin-left: 10px;
}

.play_form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.play_form > label {
    display: grid;
    align-content: center;
    margin-left:15px;
}

.play_form > input {
    width: 15%;
    margin-left: 15px;
    margin-bottom: 2px;
}

.play_form > button {
    margin-left: 15px;
}

