 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" href="/img/home.png" type="image/x-icon">
    <script src="/js/main.js"></script>
    <title>test</title>
</head>

<body>
<header>
    <div class="header_container"></div>
</header>
    <div class = "main-point">
        <div class = "swiper mySwiper">
            <div class="swiper-wrapper">
                <div class ="swiper-slide"> <img src="../img/1.jpg" alt="">
                    <P class ="first-line">Time and tide wait no for no man</P>
                    <P class = "second-line">If you laugh, blessings will come your way</P>
                </div>
                <div class ="swiper-slide"> <img src="../img/2.jpg" alt="">
                    <P class ="first-line">Time and tide wait no for no man</P>
                    <P class = "second-line">If you laugh, blessings will come your way</P>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <section class="container">
        <h2 class="second_main">
            <p class = "main_first_context">When you picture</p>
            <p class = "main_second_context">how make the next level</p>
        </h2>
        <ul class ="container sub_first">
            <li class ="first_img" style="height: 70%;"><img src="../img/3.jpg" alt=""></li>
            <li class ="first_context">
                <p>If you look in side your heart</p>
                <p>You don't have to be afraid</p>
                <p>Of what you are</p>
            </li>
        </ul>
        <ul class = "sub_second">
            <li class ="second_context">
                <p>If you look in side your heart</p>
                <p>You don't have to be afraid</p>
                <p>Of what you are</p>
            </li>
            <li class ="second_img" style="height: 70%;"><img src="../img/4.jpg" alt=""></li>
        </ul>
        <ul class = "sub_three">
            <li class ="three_img" style="height: 70%;"><img src="../img/5.jpg" alt=""></li>
            <li class = "three_conext">
                <p>If you look in side your heart</p>
                <p>You don't have to be afraid</p>
                <p>Of what you are</p>
            </li>
        </ul>
    </section>
    <section class="container"></section>
    <section class="container"></section>
    <section class="container"></section>
<footer>
    <div class ="footer-container"> </div>
</footer>
</body>
</html>